executeMostCommon=true
executeTermFreq=true
executeSemantic=true
executeTermFreqForTest=true
executeSemanticForTest=true
executePrepareTree=true
executePrepareTestTree=true
executeRandomForest=true
executeOnlySemanticViaWorkers=false
trainFolder=/Users/erantoker/Downloads/BIL614-Project-master/train/
testFolder=/Users/erantoker/Downloads/BIL614-Project-master/test/